#crewModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h2#crewModalLabel.modal-title New member
      .modal-body
        =form_for(@crew, remote: true, html: {role: :form, 'data-model' => 'crew'})do |f|
          =render 'shared/error_messages', object: f.object 
          .form-group  
            =f.label :name
            =f.text_field :name, placeholder: "Clint", class: 'form-control'
            =f.label :secondname
            =f.text_field :secondname, placeholder: "Eastwood", class: 'form-control'
            =f.label :spec
            =f.text_field :spec, placeholder: "Engineer", class: 'form-control'
            =f.label :bank_card
            =f.text_field :bank_card, placeholder: "xxxx xxxx xxxx xxxx", class: 'form-control'
            =f.label :rate
            =f.number_field :rate, placeholder: "e.g. 1000", class: 'form-control'
            =f.select(:client_project, @projects.map(&:project_name), {prompt: "Select project"})
            =f.file_field :avatar
          %button.btn.btn-default.form-submit{type: 'submit'} Create
      

        


    