%li
  .dashboard-li-left 
    #{link_to crew.combine_names, crew_path(crew)}
  .dashboard-li-right
    #{link_to 'delete', crew_path(crew), "data-method" => "delete", href: crew_path(crew), data: {confirm: "Delete \"#{crew.combine_names}?\""}, class: 'delete-button', title: 'Remove'}
  