- provide(:title, 'New member')

%h2 New member
%div.form-block
  =form_for(@crew)do |f|
    / =render 'shared/error_messages', object: f.object 
    =f.label :name
    =f.text_field :name, placeholder: "Enter name of new member"
    =f.label :secondname
    =f.text_field :secondname, placeholder: "Enter second name of new member"
    =f.label :bank_card
    =f.text_field :bank_card, placeholder: "xxxx xxxx xxxx xxxx"
    =f.label :bank_name
    =f.text_field :bank_name, placeholder: "Your bank name"
    =f.file_field :avatar
    =f.select(:client_project, @clients.map(&:project), {prompt: "Select project"})
    .boolean-block
      %span In charge
      =f.label :in_charge
      =f.check_box :in_charge

    =f.submit "Create"
