- provide(:title, 'Edit client panel')

%h2 Edit client
%div.form-block
  =form_for(@client) do |f|
    / =render 'shared/error_messages', object: f.object 
    =f.label :client_name
    =f.text_field :client_name, placeholder: "Enter name of new client"
    =f.label :client_secondname
    =f.text_field :client_secondname, placeholder: "Enter second name of new client"
    =f.label :project
    =f.text_field :project, placeholder: "Project title"
    =f.label :budget
    =f.text_field :budget, placeholder: "e.g. 1000"

    =f.submit "Save"
    %button #{link_to 'Cancel', client_path(@client)}
