- provide(:title, 'Edit client panel')

.signed-in-content  
  %div.form-block
    %h2 Edit client
    =form_for(@client) do |f|
      =f.label :client_name
      =f.text_field :client_name, placeholder: "Jackie"
      =f.label :client_secondname
      =f.text_field :client_secondname, placeholder: "Chan"
      =f.label :project
      =f.text_field :project, placeholder: "Project title"
      =f.label :budget
      =f.text_field :budget, placeholder: "e.g. 1000"
      =f.label :descr
      =f.text_area :descr, placeholder: "Enter brief description here"

      %button{type: 'submit'} Save
