%li 
  .dashboard-li-left
    #{link_to project.project_name, project_path(project)}
  .dashboard-li-right  
    #{link_to 'delete', project_path(project), "data-method" => "delete", href: project_path(project), data: {confirm: "Delete \"#{project.project_name}?\" project"}, class: 'delete-button', title: 'Remove'}
