%tbody
  %tr 
    %td Client name
    %td 
      %strong #{@project.combine_names}
  %tr
    %td Project budget
    %td 
      %strong $#{@project.budget}
  %tr  
    %td Colaborators
    - @collaborators.each do |col|
      %td
        #{link_to col.combine_names, crew_path(col), style: 'text-decoration: underline;'}
