%li 
  %label Client name
  %span #{@project.combine_names}
%li
  %label Project budget
  %span $#{@project.budget}
%li
  %label Description
  %span #{@project.descr}
%li
  %label Colaborators
  - @collaborators.each do |col|
    #{link_to col.combine_names, crew_path(col), style: 'text-decoration: underline;'}