- provide(:title, 'New project')

.signed-in-content
  %div.form-block
    %h2 New project
    =form_for(@project) do |f|
      =f.label :client_name
      =f.text_field :client_name, placeholder: "Enter name of new client"
      =f.label :client_secondname
      =f.text_field :client_secondname, placeholder: "Enter second name of new client"
      =f.label :project_name
      =f.text_field :project_name, placeholder: "Project title"
      =f.label :budget
      =f.number_field :budget, placeholder: "e.g. 1000"
      =f.label :descr
      =f.text_area :descr, placeholder: "Enter brief description here"
      = render 'shared/error_messages', object: f.object 
      %button.btn.btn-default.form-submit{type: 'submit'} Create

