/* Classes------------------*/

.scrollable {
  font-size: 1em;
  height: 92%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
.profile-table-settings {
  td {
    padding: 5px;
    border-radius: 2px;
    &:last-child {
      background-color: darken(#ffffff, 5%);
    }
  }  
}
.descr-text {
  padding: 5px;
  display: block;
  margin-top: 10px;
  text-indent: 20px;
  line-height: 20px;  
}
.signed-in-content {
  width: 79.67%;
  padding: 10px;
  display: inline-block;
}
.button-style {
  &:hover {
    border-right: 5px solid #639bf1;
    background-color: #b4bad9;
  }
  &:active {
    background-color: darken(#b4bad9, 5%);
  }
}
/* Variables------------------*/



/* Mixins------------------*/

