
/* Variables------------------*/

$main-white: #ffffff;
$main-white-soft: darken($main-white, 5%);
$main-white-medium: darken($main-white, 10%);
$main-white-intence: darken($main-white, 15%);
$main-white-hard: darken($main-white, 20%);
$main-white-hardcore: darken($main-white, 25%);

$main-black: #000000;
$main-black-trans-soft: rgba($main-black, 0.5);
$main-black-trans-medium: rgba($main-black, 0.4);
$main-black-trans-intence: rgba($main-black, 0.3);
$main-black-trans-hard: rgba($main-black, 0.2);
$main-black-trans-hardcore: rgba($main-black, 0.1);

/* Classes------------------*/

.scrollable {
  font-size: 1em;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {clear: both;}
}
.signed-in-content {
  @media (max-width: 769px) {
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;
  }
  height: 100%;
  width: 95%;
}
.button-style {
  &:hover {
    background-color: $main-white-medium;
    color: #000000;
  }
  &:active {background-color: $main-white-hardcore;}
}



