
/* Variables------------------*/

$main-black: #000000;
$concrete-gray: #2d2d2d;
$soft-gray: #ababab;
$main-white: #ffffff;
$secondary-violet: #634271;



/* Classes------------------*/

.scrollable {
  font-size: 1em;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {clear: both;}
}
.signed-in-content {
  height: 100%;
  width: 79.67%;
  padding: 10px;
  display: inline-block;
}
.button-style {
  &:hover {
    background-color: $main-white;
    padding: 25px;
    color: $soft-gray;
  }
  &:active {background-color: darken($main-white, 15%);}
}
.important-content {
  font-size: 1.5em;
  font-weight: normal;
  font-family: 'Oswald', sans-serif;
}
.show-pages-template {
  width: 40%;
  background-color: rgba($concrete-gray, 0.5);
  height: 100%;
  margin: 0 auto;
  label {
    display: block;
    padding-bottom: 5px;
  }
}
.show-page-description-content {
  padding-bottom: 20px;
  width: 100%;
  ul {padding: 10px;}
  h2 {
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px;
    background-color: lighten($concrete-gray, 6%);
    color: darken($soft-gray, 20%);
  }
  span {@extend .important-content;}
}

/* Mixins------------------*/

@mixin flash-style($color) {                  /* Flash mixin */
  border-right: 10px solid rgba($color, 0.7);
}
