@import 'partials';

/* Show page ---------------------------------------*/

.details-client {@extend .show-pages-template;}

.details-header {
	padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.details-content {
	@extend .show-page-description-content;
  li {margin-bottom: 20px;}
}