@import 'partials';

/* Dashboard ---------------------------------------*/

/* Side panel */
.core-data {
	width: 20%;
	height: 40%;
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0 0 5px 5px;
	text-align: center;
}

/* Content */

.index-list-crew,
.index-list-clients {
	width: 49%;
	height: 100%;
	display: inline-block;
	text-align: center;
	li, 
	span {
		padding: 10px;
	}
	li {
		cursor: pointer;
	}
	span {
		color: darken(#ffffff, 45%);
		font-weight: bold;
	}
}

/* Border only for specific li */

.main-list-item-crew,
.main-list-item-client {
	position: relative;
  border-bottom: 1px solid darken(#ffffff, 15%);
  margin-right: 10px;
  text-align: center;
  ol {
  	display: inline-block;
  }
}
.main-list-item-client {
	margin-left: 10px;
}

.index-list-crew {
	float: left;
}

/* Show page ---------------------------------------*/
.profile-crew {
	padding: 10px;
	height: 100%;
	img {
  	height: auto;
		width: 120px;
		border-radius: 5px;
  }
}
.profile-avatar,
.profile-main {
	float: left;
}

.profile-avatar {
  float: left;
  margin-right: 10px;
}
.profile-main {
  height: 100%;
  border-left: 2px solid darken(#ffffff, 15%);
  padding-left: 25px;
}
.bank_account {
	display: inline-block;
}
.bank_label {
	vertical-align: super;
	font-size: 0.7em;
	font-style: italic;
}
/* Table */
.profile-main table {
  td {
  	padding: 5px;
    &:last-child {
    	background-color: lighten(tomato, 20%);
    }
  }  
}


