@import 'partials';

/* Dashboard ---------------------------------------*/

/* Side panel */

.core-data {
	width: 20%;
	height: 50%;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
}

/* Content left part*/

.index-container-crew,
.index-container-client {
  height: 49%;

}
.index-container-crew {
	margin-bottom: 10px;
}

.index-list-crew,
.index-list-client {
	height: 100%;
	width: 70%;
	text-align: center;
	display: inline-block;
	float: left;
	li {
		cursor: pointer;
		padding: 10px;
	}
}
/* Content right part*/

.index-panel-crew,
.index-panel-client {
	height: 100%;
	background-color: #639bf1;
	width: 28%;
	float: right;
}

/* Main table */

table {
  background-color: darken(#ffffff, 10%);
  border-radius: 5px;
  border-collapse: collapse;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	th { text-decoration: underline; }
  th, td {
    padding: 15px;
    text-align: left;
  }
	thead {
    background-color: rgb(55, 84, 143);
    color: rgb(146, 155, 200);
    width: 100%;
    padding-left: 0.5em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    th {width: 100%;}
  }
  tbody {
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    tr:nth-child(even) {background-color: darken(#ffffff, 15%);}
    td {width: 100%;}
    padding-left: 0.5em;
  }
}

/* Show page ---------------------------------------*/

.profile-crew {
	width: 70%;
	background-color: #639bf1;
	height: 100%;
	margin: 0 auto;
}
.profile-left,
.profile-right {
	display: inline-block;
	vertical-align: top;
}

/* Content left part*/

.profile-left {
  width: 25%;
  height: 100%;
	padding: 10px;
	background-color: #639bf1;
}
.profile-avatar {
	background-color: rgba(59, 89, 152, 0.31);
	padding: 5px;
	width: 160px;
  img {
  	height: auto;
		width: 150px;
		
  }
}
.profile-credentials {
  padding: 5px;
  margin-top: 10px;
  li {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }
}

/* Content right part*/

.profile-right {
  width: 74.6%;
  height: 100%;
	background-color: darken(#639bf1, 5%);
	display: inline-block;
}
.profile-crew-info,
.profile-crew-work {
  height: 50%;
  width: 100%;
  ul {
  	padding: 10px;
  }
  li {
  	margin-bottom: 10px;
    label {
    	color: lighten(#77ba9b, 10%);
    	font-weight: bold;
    }  
    span {
    	font-size: 1.5em;
    	padding-left: 20px;
    }
  }
  h2 {
		display: block;
		width: 100%;
		padding: 10px;
  	background-color: lighten(#639bf1, 5%);
  	color: darken(#639bf1, 5%);
	}
}
.profile-crew-info {

}
.profile-crew-work {
  background-color: darken(#639bf1, 10%);
}

// .profile-crew {
// 	padding: 10px;
// 	height: 100%;
// 	img {
//   	height: auto;
// 		width: 120px;
// 		border-radius: 5px;
//   }
// }
// .profile-avatar,
// .profile-main {
// 	float: left;
// }

// .profile-avatar {
//   float: left;
//   margin-right: 10px;
// }
// .profile-crew-main {
//   height: 100%;
//   padding-left: 25px;
//   float: left;
// }
// .bank_account {
// 	display: inline-block;
// }
// .bank_label {
// 	vertical-align: super;
// 	font-size: 0.7em;
// 	font-style: italic;
// }



