@import 'partials';

/* Dashboard ---------------------------------------*/

.dashboard {
  border: none;
  border-bottom: 4px solid #cecece;
  li,
  li.active {
    width: 100%;
    border: none;
    text-align: center;
    a {
      border-radius: 0;
      border: none;
      margin: 0;
      background-color: #a2a0a0;
      &:hover {
        border: none;
        background-color: darken(#a2a0a0, 5%);
      }
      &:active,
      &:focus {
        background-color: darken(#a2a0a0, 10%);
        border: none;
      }
    }
  }

}

/* Bottom wide block */

.bottom_part {
  background-color: rgba($concrete-gray, 0.3);
  width: 100%;
  height: 15%;
  clear: left;
}

/* Financial block */

.botom-part-finance {
  height: 100%;
  width: 20%;
  float: right;
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
  background-color: $concrete-gray;
  span {
    display: block;
    padding: 5px;
  }
}

/* Statistics block */

.bottom-part-statistics {
  width: 80%;
  float: left;
  padding: 10px;
}

.profit-font {color: green;}

.loss-font {color: red;}

.profit {
  background-color: green;
  color: darken(green, 10%);
}
.loss {
  background-color: red;
  color: darken(red, 15%);
}





