@import 'partials';

/* Bootstrap override ---------------------------------------*/

/* Tabs */
.tab-content,
.tab-pane {
  height: 100%;
}


/* Dashboard ---------------------------------------*/

.dashboard-main {
  height: 95%;
  width: 80%;
  float: left;
  padding: 5px;
  background-color: $main-white-medium;
  border-right: 2px solid $main-black-trans-hardcore;
}

.dashboard-main-screen {
  width: 100%;
  height: 100%;
  float: left;
  li {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 2px;
    background-color: darken($main-white-medium, 3%);
    &:nth-child(odd) {background-color: darken($main-white-medium, 6%);}
    &:hover {
      border-left: 3px solid orange;
      cursor: pointer;
    }
  }
  img {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    float: right;
    vertical-align: middle;
  }
}

.dashboard-A-tab-main,
.dashboard-B-tab-main {
  width: 100%;
  height: 100%;
  float: left;
}

.dashboard-top {
  border-bottom: 2px solid $main-black-trans-hardcore;
  background-color: $main-white-soft;
  height: 5%;
  a {
    display: inline-block;
    padding: 10px;
    color: #000000;
  }
}

/* Statistics block */

.dashboard-statistics {
  width: 15%;
  height: 95%;
  float: right;
  background-color: $main-white-intence;
  span {
    display: block;
    padding: 5px;
    background-color: $main-white-medium;
    margin-bottom: 2px;
  }
}

.bottom-part-statistics {
  width: 80%;
  float: left;
  padding: 10px;
}

.profit-font,
.loss-font,
.profit,
.loss {
	font-size: 1.5em;
	padding: 5px;
}

.profit-font {
	color: green;
	background-color: $main-white-medium;
  margin-bottom: 2px;
}

.loss-font {
	color: red;
	background-color: $main-white-medium;
  margin-bottom: 2px;
}

.profit {
  background-color: green;
  color: darken(green, 15%);
  text-align: center;
}
.loss {
  background-color: red;
  color: darken(red, 20%);
  text-align: center;
}
