@import 'partials';

form {padding: 15px;}

form label {display: none;}
input {
	display: block;
	width: 100%;
	padding: 3px;
	margin-bottom: 3px;
}
input[type="checkbox"] {
	width: 5%;
	display: inline-block;
}
textarea {
	min-height: 100px;
	min-width: 100%;
	max-width: 100%;
	padding: 3px;
	margin-bottom: 3px;
}

.form-block,
.form-block-user {
	width: 30%;
	margin: 0 auto;
	background-color: $main-white-medium;
	h2 {
		text-align: center;
    border-bottom: 2px solid $main-white-hard;
    background-color: $main-white-hard;
    padding: 20px;
    margin: 0;
 	}
	a {display: inline-block;}
}
.form-submit {
	display: block;
  margin: 0 auto;
}

/* Devise forms ---------------------------------------*/

.vertical-aligner {height: 100%;}

.form-block-user {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid $main-white-hard;
}
