@import 'partials';

/* Forms overall ---------------------------------------*/
.form-block-user,
.form-block {
	@media (max-width: 769px) {
    width: 100%;
    height: 100%;
	}
	width: 30%;
	margin: 0 auto;
	background-color: #2d2d2d;
	padding: 20px;
	h2 {text-align: center;}
	a {
		display: inline-block;
		margin: 5px 0 5px 0;
	}
}
.form-block {
	@media (max-width: 769px) {
    width: 100%;
    display: block;
    height: 100%;
  }
	width: 50%;
}
input,
select,
textarea {
	width: 100%;
	padding: 10px;
	font-size: 1.2em;
	color: darken($soft-gray, 10%);
	margin-top: 5px;
}
select {cursor: pointer;}
textarea {
	min-height: 100px;
	transition: min-height, 0.5s, ease;
	@media (min-width: 769px) {
    &:hover {
	  	min-height: 200px;
	  } 
	}
}
label {display: none;}
.remember_me_checkbox {
  padding: 10px 0 10px 0;
  span {vertical-align: middle;}
}

/* Input types ---------------------------------------*/

button[type="submit"] {
	width: 100%;
	display: block;
	margin: 0 auto;
  color: darken($soft-gray, 10%);
	font-size: 1.2em;
	margin-top: 10px;
	padding: 10px;
	&:hover {
		color: darken($soft-gray, 30%);
		cursor: pointer;
	}
}
input[type="checkbox"] {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	vertical-align: middle;
	margin-right: 5px;
}
input[type="file"] {color: darken($soft-gray, 10%);}