@import 'partials';

/* CSS Reset ---------------------*/

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	line-height: 1;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Global styles ---------------------*/

html,
body {
	height: 100%;
	width: 100%
}

body {
	font-size: 14px;
	font-family: 'Exo 2', sans-serif;
	color: #293e6a;
	background-image: url(footer_lodyas.png);
	background-size: cover;
	&:after {
		content: '';
		display: block;
		position: absolute;
		z-index: 0;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		// background-color: #262C4D;
		background-color: rgba(38, 44, 77, 0.44);
	}
}

h1,
h2,
h3,
h4 {
	color: darken(#b4bad9, 20%);
}

h1 {
	font-size: 3em;
	font-weight: 700;
}

h2 {
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
}

h4 {
	font-size: 1.25em;
	font-weight: 300;
}

li {
	margin-bottom: 10px;
	list-style: none;
	label {
	  color: #b4bad9;
	  font-weight: bold;
	}  
	span {
	  font-size: 1.5em;
	  padding-left: 20px;
	}
}

a {
	text-decoration: none;
	color: lighten(#081555, 10%);
	&:hover{
		color: #081555;
	}
}

input {
	box-sizing:border-box;
}

/* Layout elements ---------------------*/

nav {
	height: 100%;
	float: left;
	width: 20%;
	text-align: center;
	background-color: rgba(8, 21, 85, 0.69);
	position: relative;
  z-index: 3;
	ul {
		margin-top: 30px;
	}
	li {
		margin: 0;
		width: 100%;
		&:last-child {
			margin-top: 20px;
		}
	}
	a {
		display: block;
		margin-top: 10px;
		width: 100%;
		margin: 0 auto;
		padding: 10px;
		color: #ffffff;
		font-weight: bold;
		transition: background-color 0.3s ease, border-right 0.5s ease, 
		    padding 0.3s ease;
		@extend .button-style;
	}
}
.top-part,
.bottom-part {
  height: 50%;
	padding-top: 10px;
}
.top-part {
	height: 50%;
	border-bottom: 3px dashed rgba(8, 21, 85, 0.15);
	padding-top: 10px;
}
.bottom-part {
  span {
  	color: #b6a754;
  }
}
.ace {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  color: #606dac;
}
main {
	height: 99.7%;
	width: 100%;
	position: relative;
  z-index: 2;
}

/* Scrollbars ---------------------*/

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}

/* New and Edit forms ---------------------*/

.form-block {
	width: 50%;
  margin: 0 auto;
  form,
  textarea {
  	padding: 10px;
  }
  input {
  	color: lighten(#000000, 30%);
  }
	button {
		margin-left: 10px
	}
	label {
		display: none;
	}
	select,
	textarea {
		margin-bottom: 10px;
	}
	textarea {
		min-height: 100px;
		width: 100%;
	}
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	color: lighten(#000000, 30%);
}
input[type="submit"],
button {
	cursor: pointer;
	width: 30%;
	height: auto;
	margin: 0 auto;
	display: inline-block;
	padding: 2px;
}
input[id="crew_bank_card"] {
	width: 50%;
}
input[id="crew_rate"],
input[id="client_budget"] {
	width: 50%;
	display: block;
}
/* Custom select */

#crew_client_project {
	width: 100%;
	margin-top: 10px;
	height: 30px;
	cursor: pointer;
}

/* Flash notice ---------------------*/

.alert,
.success {
	height: 40px;
	width: 250px;
	display: block;
	position: absolute;
	top: 80%;
	left: 2%;
	text-align: center;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.18);
	font-weight: bold;
}
.alert {
	color: rgba(255, 255, 255, 0.18);
	border-right: 10px solid rgba(255, 255, 255, 0.18);
}
.success {
	color: rgba(0, 253, 0, 0.31);
	border-right: 10px solid rgba(0, 253, 0, 0.31);
}