@import 'partials';

/* CSS Reset ---------------------*/

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	line-height: 1;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Global styles ---------------------*/

html,
body {
	height: 100%;
	width: 100%
}

body {
	font-size: 14px;
	font-family: 'Average', serif;
	color: $soft-gray;
	background-image: url(footer_lodyas.png);
	background-size: cover;
	&:after {
		content: '';
		display: block;
		position: absolute;
		z-index: 0;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba($main-black, 0.4);
	}
}

h1,
h2,
h3,
h4 {
	font-family: 'Fjalla One', sans-serif;
}

h1 {
	font-size: 3em;
	font-weight: 700;
}

h2 {
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
}

h4 {
	font-size: 1.25em;
	font-weight: 300;
}

li {
	margin-bottom: 10px;
	list-style: none;
}

a {
	text-decoration: none;
	color: $soft-gray;
	&:hover{
		color: lighten($soft-gray, 10%);
	}
}

input {
	box-sizing:border-box;
}

/* Layout elements ---------------------*/

nav {
	float: left;
	width: 20%;
	padding-top: 10px;
	text-align: center;
	background-color: rgba($concrete-gray, 0.5);
	position: relative;
  z-index: 3;
	li {
		margin: 0;
		width: 100%;
		border-bottom: 2px solid rgba($main-black, 0.15);
		&:last-child {
			border: none;
		}
	}
	a {
		font-family: 'Arimo', sans-serif;
		font-size: 1.5em;
		font-weight: bold;
		display: block;
		width: 100%;
		margin: 0 auto;
		color: #ffffff;
		padding: 20px;
		transition: background-color 0.3s ease, border-right 0.5s ease, 
		    padding 0.3s ease;
		@extend .button-style;
	}
}
main {
	height: 99.5%;
	width: 100%;
	position: relative;
  z-index: 2;
}

/* Scrollbars ---------------------*/

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: 1px solid transparent;
}

/* New and Edit forms ---------------------*/

.form-block {
	width: 50%;
  margin: 0 auto;
  form,
  textarea {
  	padding: 10px;
  }
  input {
  	color: lighten($main-black, 30%);
  }
	button {
		margin-left: 10px
	}
	label {
		display: none;
	}
	select,
	textarea {
		margin-bottom: 10px;
	}
	textarea {
		min-height: 100px;
		width: 100%;
	}
}

input[type="text"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	color: lighten(#000000, 30%);
}
input[type="submit"],
button {
	cursor: pointer;
	width: 30%;
	height: auto;
	margin: 0 auto;
	display: inline-block;
	padding: 2px;
}
input[id="crew_bank_card"] {
	width: 50%;
}
input[id="crew_rate"],
input[id="client_budget"] {
	width: 50%;
	display: block;
}
/* Custom select */

#crew_client_project {
	width: 100%;
	margin-top: 10px;
	height: 30px;
	cursor: pointer;
}

/* Flash notice ---------------------*/

.alert,
.success {
	height: 40px;
	width: 250px;
	display: block;
	position: absolute;
	top: 80%;
	left: 2%;
	text-align: center;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.18);
	font-weight: bold;
}
.alert {
	color: rgba(255, 255, 255, 0.18);
	border-right: 10px solid rgba(255, 255, 255, 0.18);
}
.success {
	color: rgba(0, 253, 0, 0.31);
	border-right: 10px solid rgba(0, 253, 0, 0.31);
}