@import 'partials';

/* CSS Reset ---------------------*/

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	line-height: 1;
}

/* Global styles ---------------------*/

html,
body {
	height: 100%;
	width: 100%
}

body {
	font-size: 14px;
	font-family: 'Exo 2', sans-serif;
	color: darken(#ffffff, 45%);
}

h1 {
	font-size: 3em;
	font-weight: 700;
}

h2 {
	font-size: 2em;
	font-weight: 500;
	margin: $margin-h;
}

h3 {
	font-size: 1.5em;
	font-weight: 400;
}

h4 {
	font-size: 1.25em;
	font-weight: 300;
}

h1,
h2,
h3,
h4 {
	color: #000000;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: lighten(#000000, 30%);
	&:hover{
		color: #000000;
	}
}

/* Layout elements ---------------------*/

nav {
	position: absolute;
	left: 0;
	top: 0;
	margin: 5px 0 0 5px;
	width: 20%;
	text-align: center;
	h1 {
		margin: 10px 0 10px 0;
	}
	li {
		margin: 0;
	}
	a {
		display: block;
		margin-top: 10px;
		width: 50%;
		margin: 0 auto;
		padding: 10px;
		color: darken(#ffffff, 45%);
		font-weight: bold;
		border-left: 1px solid darken(#ffffff, 15%);
		@include button-style(orange, 10%, 15%);
	}
}

main {
	height: 100%;
	width: 50%;
	margin: 0 auto;
}

/* Scrollbars ---------------------*/

::-webkit-scrollbar {
	width: 3px;
	background-color: darken(#ffffff, 10%);
} 

::-webkit-scrollbar-thumb {
	background-color: darken(#ffffff, 30%);
	&:hover {
		background-color: darken(#ffffff, 35%);
	}
	&:active {
		background-color: darken(#ffffff, 35%);
	}
}


