@import 'partials';

/* Dashboard ---------------------------------------*/

.unsigned_user {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: radial-gradient(ellipse at center, rgba(180,186,217,1) 1%,rgba(26,43,119,1) 100%);
	a {
		color: #ffffff;
		font-size: 10em;
    &:hover {
	    color: darken(steelblue, 5%);
	  }
	  &:active {
	    color: darken(steelblue, 10%);
	  }
	}
  p {
  	margin-top: 10px;
  }
}
.vertical-center {
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	position: absolute;
}
