@import 'partials';

/* Dashboard ---------------------------------------*/

.unsigned_user {
	text-align: center;
	margin-top: 200px;
	a {
		font-size: 10em;
    &:hover {
	    color: darken(steelblue, 5%);
	  }
	  &:active {
	    color: darken(steelblue, 10%);
	  }
	}
  p {
  	margin-top: 10px;
  }
}
